<div class="row">
<div class="span12">

<%= simple_form_for(@reg, :html => {:class => "form-horizontal", :multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Basic Info</h2>
    <%= f.input :title, :collection => {"Dr." => "Dr.", "Mr." => "Mr.", "Mrs." => "Mrs.", "Ms." => "Ms.", "Prof." => "Prof."}.sort %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :organization %>
    <%= f.input :dept %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :status, :collection => {"UK Faculty" => "UK Faculty", "Non-UK Faculty" => "Non-UK Faculty", "Post-doc" => "Post-doc", "Student" => "Student", "Staff" => "Staff"}.sort %>
    <%= f.input :bizperson, :label => "Business Person" %>
    <%= f.input :bizpersonemail, :label => "Business Person Email" %>
    <%= f.input :bizpersonphone, :label => "Business Person Phone" %>
    <h2>Extra Info</h2>
    <%= f.input :lunch, :as => :select, :label => "Trainee Lunch" %>
    <%= f.input :eveningsession, :as => :select, :label => "Evening Session" %>
    <%= f.input :guest, :as => :select, :label => "Guest for Evening Session" %>
    <%= f.input :abstract, :as => :file %>
    <%= f.input :abstract_cache, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Registration", :disable_with => "Please wait. Registering..." %> or <%= link_to "Cancel", user_root_path %>
  </div>
<% end %>

</div>
</div>