<div class="row">
    <div class="span12">
        <h1>Symposium Registrations</h1>

        <h3>&raquo; Quick Look</h3>
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th>Attendees</th>
            <th>$ Pledged</th>
            <th># for Lunch</th>
            <th># for Dinner</th>
            <th># of Abstracts</th>
            <th>User : Registration Ratio</th>
          </tr>
          <tr>
            <td><%= number_of_attendees %></td>
            <td><%= number_to_currency(dollars_pledged) %></td>
            <td><%= number_of_attendees_for_lunch %></td>
            <td><%= number_of_attendees_for_dinner %></td>
            <td><%= number_of_abstracts %></td>
            <td><%= user_reg_ratio %></td>
          </tr>
        </table>

        <h3>&raquo; Attendees</h3>
        <p><%= link_to regs_url(:csv), :class => "btn" do %><i class="icon-download"></i> Download data (.csv)<%end%> <%= link_to new_reg_path, :class => "btn" do %><i class="icon-plus"></i> Add Registration<%end%></p>
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Evening<br />Session</th>
            <th>Guest</th>
            <th>Lunch</th>
            <th>Fees</th>
            <th>Abstract</th>
            <th>Actions</th>
          </tr>

        <% @regs.each do |reg| %>
          <tr>
            <td><%= link_to reg.id, reg %></td>
            <td><%= reg.title %></td>
            <td><%= reg.firstname %></td>
            <td><%= reg.lastname %></td>
            <td><%= mail_to reg.email %></td>
            <td><%= reg.eveningsession %></td>
            <td><%= reg.guest %></td>
            <td><%= reg.lunch %></td>
            <td><%= reg.fees %></td>
            <td><%= link_to reg.abstract.to_s, reg.abstract_url %></td>
            <td><%= link_to edit_reg_path(reg), :class => "btn btn-mini" do %><i class="icon-pencil"></i> Edit<%end%>
                <%= link_to reg, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-mini"  do %><i class="icon-trash icon-white"></i> Destroy<%end%></td>
          </tr>
        <% end %>
        </table>

        <br />
<%# link_to 'ZIP FILE', regs_url(:zip) %>
    </div>  
</div>
