<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reg.title %>
</p>

<p>
  <b>Firstname:</b>
  <%= @reg.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @reg.lastname %>
</p>

<p>
  <b>Organization:</b>
  <%= @reg.organization %>
</p>

<p>
  <b>Address1:</b>
  <%= @reg.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @reg.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @reg.city %>
</p>

<p>
  <b>State:</b>
  <%= @reg.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @reg.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @reg.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @reg.email %>
</p>

<p>
  <b>Status:</b>
  <%= @reg.status %>
</p>

<p>
  <b>Dept:</b>
  <%= @reg.dept %>
</p>

<p>
  <b>Eveningsession:</b>
  <%= @reg.eveningsession %>
</p>

<p>
  <b>Guest:</b>
  <%= @reg.guest %>
</p>

<p>
  <b>Partysize:</b>
  <%= @reg.partysize %>
</p>

<p>
  <b>Lunch:</b>
  <%= @reg.lunch %>
</p>

<p>
  <b>Bizperson:</b>
  <%= @reg.bizperson %>
</p>

<p>
  <b>Bizpersonemail:</b>
  <%= @reg.bizpersonemail %>
</p>

<p>
  <b>Bizpersonphone:</b>
  <%= @reg.bizpersonphone %>
</p>

<p>
  <b>Fees:</b>
  <%= @reg.fees %>
</p>

<p>
  <b>Abstracttext:</b>
  <%= @reg.abstracttext %>
</p>

<p>
  <b>Abstracttitle:</b>
  <%= @reg.abstracttitle %>
</p>

<p>
  <b>Abstractauthors:</b>
  <%= @reg.abstractauthors %>
</p>


<%= link_to 'Edit', edit_reg_path(@reg) %> |
<%= link_to 'Back', regs_path %>
