<h1>Listing Emailed Announcements</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Announcement body</th>
    <th>Sent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emailannouncements.each do |emailannouncement| %>
  <tr>
    <td><%= emailannouncement.announcement_body %></td>
    <td><%= emailannouncement.sent %></td>
    <td><%= link_to 'Show', emailannouncement %></td>
    <td><%= link_to 'Edit', edit_emailannouncement_path(emailannouncement) %></td>
    <td><%= link_to 'Destroy', emailannouncement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emailannouncement', new_emailannouncement_path %>
